<section class="section">
    <div class="row">
        <div class="col-md-6">
            <img src="../../../assets/images/undraw_messenger_e7iu.png" class="loginImg">
        </div>
        <div class="col-md-4 ">
            <!-- Login Form -->
            <div *ngIf="logBool">
                 <h1 class="LoginTxt"> {{'LOGIN.LOGIN' | translate}} </h1>
            <form  #LoginForm="ngForm" (ngSubmit)="LoginForm.form.valid && onSubmit(LoginForm)" novalidate>
               
                <div class="form-group">
                  <label for="email">{{'LOGIN.EMAIL_ADDRESS' | translate}}</label>
                  <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
                  [ngClass]="{ 'is-invalid': LoginForm.submitted && email.invalid }" [(ngModel)]="model.email" #email="ngModel" required>
                   <div class="invalid-feedback" *ngIf="LoginForm.submitted && email.invalid">
                    <p *ngIf="email.errors.required">{{'LOGIN.VALID_EMAIL' | translate}}</p>
                  </div>
                </div>

                <div class="form-group">
                  <label for="password">{{'LOGIN.PASSWORD' | translate}}</label>
                  <input type="password" name="password" id="password" class="form-control" 
                  [ngClass]="{ 'is-invalid': LoginForm.submitted && password.invalid }" [(ngModel)]="model.password" #password="ngModel"
                 
                  required>
                  <div class="invalid-feedback" *ngIf="LoginForm.submitted && password.invalid">
                    <p  *ngIf="password.errors.required"> {{'LOGIN.VALID_PASS' | translate}}</p>
                  </div>
                 
  
                </div>
                <div class="LogBox">
                   <button type="submit " class="btn btn-primary loginBtn">{{'LOGIN.LOGIN' | translate}}</button> 
                   <p class="new_acount" (click)="Reg()"> {{'LOGIN.CREATE_TXT' | translate}}</p>
                </div>
                
              </form>
            </div>
           
            <!-- Sign Up -->
            <div *ngIf="!logBool">
                <h1 class="LoginTxt"> {{'LOGIN.REGISTRATION' | translate}} </h1>
           <form  class="needs-validation" #RegForm="ngForm" (ngSubmit)="RegForm.form.valid && onReg(RegForm)" novalidate>
              
            <div class="form-row">
                <div class="col">
                    <label for="Firstname">{{'LOGIN.FIRST_NAME' | translate}}</label>
                  <input type="text" id="firstname" class="form-control" name="firstname"
                  [ngClass]="{ 'is-invalid': RegForm.submitted && firstname.invalid }" [(ngModel)]="NewModel.Firstname" #firstname="ngModel"
                   required>
                  <div class="invalid-feedback" *ngIf="RegForm.submitted && firstname.invalid">
                    <p *ngIf="firstname.errors.required">{{'LOGIN.VALID_FIRST' | translate}}</p>
                  </div>
                </div>
                <div class="col">
                    <label for="LastName"> {{'LOGIN.LAST' | translate}} </label>
                  <input type="text" id="lastName" class="form-control"  name="lastName"
                  [ngClass]="{ 'is-invalid': RegForm.submitted && lastName.invalid }" [(ngModel)]="NewModel.LastName" #lastName="ngModel"
                  placeholder="Last name" required>
                  <div class="invalid-feedback" *ngIf="RegForm.submitted && lastName.invalid">
                    <p *ngIf="lastName.errors.required">{{'LOGIN.VALID_LAST' | translate}}</p>
                  </div>
                </div>
              </div>
              <br>
               <div class="form-group">
                 <label for="email">{{'LOGIN.EMAIL_ADDRESS' | translate}}</label>
                 <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
                   [ngClass]="{ 'is-invalid': RegForm.submitted && email.invalid }" [(ngModel)]="NewModel.email" #email="ngModel" required>
                  <div class="invalid-feedback" *ngIf="RegForm.submitted && email.invalid">
                   <p *ngIf="email.errors.required">{{'LOGIN.VALID_EMAIL' | translate}}</p>
                 </div>
               </div>

               <div class="form-group">
                 <label for="password">{{'LOGIN.PASSWORD' | translate}}</label>
                 <input type="password" name="password" id="password" class="form-control" 
                 [ngClass]="{ 'is-invalid': RegForm.submitted && password.invalid }" [(ngModel)]="NewModel.password" #password="ngModel"
                  
                 required>
                 <div class="invalid-feedback" *ngIf="RegForm.submitted && password.invalid">
                   <p  *ngIf="password.errors.required"> {{'LOGIN.VALID_PASS' | translate}}</p>
                 </div>
                
 
               </div>
               <div class="LogBox">
                  <button type="submit " class="btn btn-primary loginBtn">{{'LOGIN.REGISTER' | translate}}</button> 
                  <p class="new_acount" (click)="Reg()"> {{'LOGIN.ALEARDY_TXT' | translate}}</p>
               </div>
               
             </form>
           </div>

        </div>
    </div>
</section>