.nav_cont{
    
}
.navbar{
    position: fixed;
    width: 100%;
    height: 22%;
    top: 0;
    z-index: 2;
    background-color: white;
}
.imglogo{
    width: 63px;
}
.LogoDiv{
    cursor: pointer;
    display: flex;
    padding: 1% 0% 0% 3%;
}

.navlistItem ul{
    list-style: none;
    width: 100%;
}

.navlistItem ul li a{
    font-size: 22px;
    color: #2A76DA;
    text-decoration: none;
    width: 143%;
    display: flex;
}
.LangBtn{
    border: none;
    background-color: transparent;
    font-size: 21px;
    outline: none;
}
.LoginPart{
    margin-left: 8%;
    width: 50%;
    white-space: pre-wrap;
}
.LoginCont{
    text-decoration: none;
}
.LoginBtn{
    display: flex;
    font-size: 22px;
    color: #f95609;
    padding-left: 1%;
    cursor: pointer;
}
.LoginBtn span{
    font-size: 26px;
    padding-left: 8%;
}

.btn-secondary{
    background-color: white;
    color: #f95609;
    font-size: 20px;
    border: none;
    outline: none;
}
.BurgerMenu{
    display: none;
    width: 100%;
    margin: 0;
}
.nav-item a{
    font-size: 28px;
}
.BurgerCollapse {
    border-bottom: 2px solid black;
    background-color: white;
    padding-bottom: 15px;
}
@media only screen and (max-width: 1180px) {

    .BurgerMenu{
        display: flex;
    }
    .nav_cont{
        display: none;
    }
 
    .dropdown-item{
        font-size: 18px !important;
    }
}