<header>
    <!-- Logo -->
   <!--  <h1 class="LogoDiv"> <img src="../../../assets/images/LogoMakr_3R4LHG.png" class="imglogo">MAKTABTY </h1>   -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg pt-4 nav_cont ">
        <div class="container-fluid">
            <div class="row " style="width: 100%;" >
                <div class="col-md-3">
                   <img src="../../../assets/images/logo/logo/logo.jpg" class="LogoDiv"  [routerLink]="['']" > 
                </div>
              
                <div class="col-md-9 py-4"> 
                    <div
                    class="collapse navbar-collapse navlistItem"
                    id="navbarSupportedContent"
                    > 
                    
                    <ul class="navbar-nav mr-auto ml-5">
                     
                        
                      <li class="nav-item  px-3 "
                      ><a 
                      class="navItemRout"
                      href="#home-section"
                    
                      > {{'NAVBAR.HOME' | translate}} </a>
                      </li>

                      <li class="nav-item  px-3 "
                      ><a 
                      class="navItemRout"
                      href="#about-section"
                      
                      > {{'NAVBAR.ABOUT' | translate}} </a>
                      </li>

                      <li class="nav-item  px-3">
                           <a
                           class="navItemRout"
                           href="#Book-section"
                         
                           > {{'NAVBAR.BOOKS' | translate}} </a>
                        </li>

                      

                      <li class="nav-item  px-3">
                        
                           <a
                           href="#Testimonial-section"
                           class="navItemRout"
                           
                           > {{'NAVBAR.TESTIMONIAL' | translate}}  </a>
                        </li>

                    </ul>
                    <div class="row LoginPart">
                        <button class="LangBtn col" (click)="trans()"> {{'NAVBAR.LANG' | translate}} </button>
                        <!-- IF Not Login -->
                        <div class="col" *ngIf="!IsLogin">
                           <a class="LoginCont" [routerLink]="['/login']" >
                                <i class="fa fa-user LoginBtn" >
                                <span>
                                    {{'NAVBAR.LOGIN' | translate}}
                                </span>
                                </i>
                            </a> 
                        </div>
                        <!-- -------------------------- -->
                      
                        <!-- IF Login -->
                    <div class="dropdown" *ngIf="IsLogin">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{AuthName}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" (click)="LogOut()" href="">  {{'NAVBAR.LOGOUT' | translate}}</a>
                              
                            </div>
                          </div>
                        <!-- -------------------------- -->
                    </div>
                 
                    
                    </div>

                    
                 </div>
              
               
            </div>
        </div>

        
    </nav>  
<!--  -->
    <nav class="navbar navbar-light bg-lignt BurgerMenu row">
        <div >
            <img src="../../../assets/images/logo/logo/logo.jpg" class="LogoDiv" [routerLink]="['']"> 
         </div>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
            <span class="navbar-toggler-icon my-toggler"></span>
        </button>
        <div class="navbar-collapse collapse BurgerCollapse" id="collapsingNavbar2">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item  px-3 "
                      ><a 
                      class="navItemRout"
                      href="#home-section"
                    
                      > {{'NAVBAR.HOME' | translate}} </a>
                      </li>

                      <li class="nav-item  px-3 "
                      ><a 
                      class="navItemRout"
                      href="#about-section"
                      
                      > {{'NAVBAR.ABOUT' | translate}} </a>
                      </li>

                      <li class="nav-item  px-3">
                           <a
                           class="navItemRout"
                           href="#Book-section"
                         
                           > {{'NAVBAR.BOOKS' | translate}} </a>
                        </li>

                      

                      <li class="nav-item  px-3">
                        
                           <a
                           href="#Testimonial-section"
                           class="navItemRout"
                           
                           > {{'NAVBAR.TESTIMONIAL' | translate}}  </a>
                        </li>

                        <li class="nav-item  px-3">
                        
                         <div class="row">
                            <button class="LangBtn px-3" (click)="trans()"> {{'NAVBAR.LANG' | translate}} </button>
                              <div class="" *ngIf="!IsLogin">
                               <a class="LoginCont" [routerLink]="['/login']">
                                <i class="fa fa-user LoginBtn " >
                                 <span>
                                  {{'NAVBAR.LOGIN' | translate}}
                                </span>
                               </i>
                             </a>    
                            </div>
                            <!-- -------- -->
                            <!-- IF Login -->
                            <div class=" btn-group dropright" *ngIf="IsLogin">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{AuthName}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" (click)="LogOut()" href="">  {{'NAVBAR.LOGOUT' | translate}}</a>
                                
                                </div>
                            </div>
                            <!-- -------------------------- -->
                        </div>
                        </li>
            </ul>
           
        </div>
    </nav>


<!--  -->
</header>

