<section  class="home section" id="home-section">
    <div class="row" style="width: 100%;">
      <div class="col-md-6">
        <h1 class="txtHome">
          {{ 'HOME.HEADER' | translate}}
        </h1>
        <button class="expBtn" (click)="GoToBooks()">  {{ 'HOME.VIEW' | translate}} </button>
      </div>
      <div class="col-md-6">
              <img src="../../../assets/images/undraw_Tree_swing_646s.png" class="imgHome">
      </div>
    </div>
    </section>
    
    <br> <br> <br>

    <section id="about-section">
      <div class="row NumberCont">
          <div class="col-md-3  "> 
            <div class="numItem">
              <img src="../../../assets/images/numbers/icons8-user-male-100.png" class="imgnum">
               <p class="numtxt"> 75,678 </p>
                <p class="numlabel">{{'NUMBERS.ACTIVE_READERS' | translate}}</p>
            </div>
             
          </div>
          <div class="col-md-3">
            <div class="numItem">
              <img src="../../../assets/images/numbers/icons8-google-docs-100.png" class="imgnum">
              <p class="numtxt" > 3,040 </p>
              <p class="numlabel">{{'NUMBERS.TOTAL_PAGES' | translate}}</p>
            </div>
            
          </div>
          <div class="col-md-3 ">
            <div class="numItem">
              <img src="../../../assets/images/numbers/icons8-cafe-100.png" class="imgnum">
              <p class="numtxt"> 15,000 </p>
              <p class="numlabel">{{'NUMBERS.CUP_OF_COFFEE' | translate}}</p>
            </div>
            
          </div>
          <div class="col-md-3 ">
            <div class="numItem">
              <img src="../../../assets/images/numbers/icons8-facebook-100.png" class="imgnum">
              <p class="numtxt"> 14,500 </p>
              <p class="numlabel">{{'NUMBERS.FACEBOOK_FANS' | translate}}</p>
            </div>
            
          </div>
      </div>
 <br> <br> <br> <br>
      <div class="row">
        <div class="col-md-6 px-2">
          <img src="../../../assets/images/bg_1.jpg" class="imgabout">
        </div>
        <div class="col-md-6 px-5">
          <h1 class="aboutTitle"> {{'ABOUT.WELCOME' | translate}} </h1>
          <h1 class="aboutcret">{{'ABOUT.CREATED' | translate}}  </h1>
          <p class="aboutdes"> {{'ABOUT.DES' | translate}} </p>
        </div>
      </div>

    </section>
    <br> <br> <br> <br>

    <section id="Book-section">
      <div class="BookRow">
        <h1 class="BookTitle">{{'BOOKS.BOOK_TITLE' | translate}} </h1>
          <h1 class="bookRelease"> {{'BOOKS.NEW_RELEASE' | translate}}  </h1>
          <br> <br>
          <div class="row">
              <div class="col-md-4 px-1 BookDiv" *ngFor="let book of booksRelease"> 
               <img src={{book.bookImg}} class="bookImage center" >
               <p class="BookNameOverlay"> {{ book.bookName}}</p>
               <p class="AuthorOverlay"> {{ book.bookAuth}}</p>
               <div class="overlayImg" (click)="GoToBooks()">
                
               </div>
              </div>
          </div>
          <br> <br> <br>
          <div class="MoreBtnDiv col-md-12">
            <button class="MoreBtn" (click)="GoToBooks()">   {{'BOOKS.MORE_BOOKS' | translate}}</button>
          </div>
          
      </div>
    </section>

    <br> <br> <br> <br>

    <section id="Testimonial-section">
      <div class="TestDiv">
        <div class=" col-md-12 ImgTest"></div>
      <div class="overlayTest"></div>
      <div class="TestCont">
         <p class="TestTxt">  {{'CUSTOMERS.TESTIMONIAL' | translate}} </p>
         <p class="WordTxt"> {{'CUSTOMERS.WORDS' | translate}} </p>
      </div>
     
     <div class="Customer_Part">
          <owl-carousel
        [options]="customOptions"
        [carouselClasses]="['owl-theme', 'sliding']"
      >
      <div class="item" *ngFor="let Block of CustWords; let id = index">
        <div class="quoteDiv icon d-flex align-items-center justify-content-center"> <span class="fa fa-quote-right"></span> </div>
        <div class="BlockCont">
        
          <p class="wordCont"> {{'FOOTER.ABOUT_TXT' | translate}}</p>
          <div class="PersonPart">
            <div class="PersonCont">
              <img src={{Block.personImg}} class="personImg">
            </div>
            <div>
              <p class="custWord"> {{Block.name}} </p>
            <p>{{Block.jobTitle}} </p>
            </div>
            
          </div>
        </div>
      </div>
    </owl-carousel> 
    <br> <br> <br> <br>
      </div> 
     
     

      </div>
      
    </section>

    <br> <br> <br> <br>  <br> <br> <br> <br> <br> <br>

