#home-section{
    margin-top: 10%;
}
.row{
    width: 100%;
}
.imgHome{
    width: 100%;
}
.txtHome{
    margin-top: 17%;
    margin-left: 7%;
    color: black;
    font-size: 60px;
}
.expBtn{
    font-size: 26px;
   
    padding: 2% 5% 2% 5%;
    margin-left: 8%;
    margin-top: 6%;
    cursor: pointer;
    background-color: white;
    color:#2A76DA;
    border: 2px solid #2A76DA;
}
.expBtn:hover{
    border: none;
    background: #2A76DA;
    color: white;
}

.imgnum{
    margin-left: 31%;
}
.numtxt{
    font-size: 53px;
    text-align: center;
}
.numlabel{
    font-size: 28px;
    text-align: center;
    line-height: 0;
}
.aboutTitle{
    font-size: 23px;
    font-family: 'Philosopher', sans-serif;
    color: #f95609;
    padding-top: 8%;
}
.aboutcret{
    font-size: 50px;
    word-spacing: 19px;
    padding-right: 18%;
    padding-bottom: 5%;
    color: #212529;
}
.aboutdes{
    font-size: 22px;
    padding-right: 14%;
    font-family: 'Cinzel Decorative', cursive;
}
.imgabout{
    width: 100%;
    height: 88%;
    padding-left: 9%;
}
.BookTitle{
    font-size: 25px;
    text-align: center;
    color: #f95609;
}

.bookRelease{
    text-align: center;
    font-size: 43px;
    color: #212529;
    font-family: 'Cinzel Decorative', cursive;
}
.BookRow{
    display: contents;
}
.bookImage{
    width: 90%;
    height: 100%;
}
.center {
    display: block;
    margin-left: 8%;
    margin-right: auto;
    width: 88%;
    position: relative;
  }
  .overlayImg{
    position: absolute;
    background-color: rgb(0,0,0,0.4);
    background: #95adbe;
    opacity: .8;
    width: 0;
    height: 100%;
    top: 0%;
    right: 4.9%;
    transition:  0.3s;
    cursor: pointer;
  }
  .BookDiv:hover .overlayImg{
    width: 86.4%;
  }
  .BookDiv:hover .BookNameOverlay , .BookDiv:hover .AuthorOverlay{
  /*   opacity: 1; */
  display: flex;
  }
  

  .BookNameOverlay{
    text-align: left;
    color: white;
    font-size: 38px;
    display: -webkit-box;
    display: flex;
    position: absolute;
    bottom: 12%;
    left: 10%;
    padding: 0% 4% 0% 4%;
    display: none;
    z-index: 2;
  }
  .AuthorOverlay{
    position: absolute;
    bottom: 5%;
    left: 10%;
    color: rgb(255,255,255,0.6);
    padding-left: 4%;
    z-index: 2;
    display: none;
  }

  .MoreBtnDiv{
      text-align: center;
  }
            
  .MoreBtn{
    font-size: 32px;
    padding: 0% 8% 0% 8%;
    margin-left: -1%;
    border: 2px solid #f95609;
    background-color: white;
    color: #f95609;
    width: 100%;
  }
  .MoreBtn:hover {
      background-color: #f95609;
      border: none;
      color: white;
      border: 2px solid #f95609;
  }
  
  .ImgTest{
      background-image: url("../../../assets/images/bg_4.jpg");
      height: 100%;
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
  }
  .overlayTest{
    top: 0;
    left: 0;
    right: 0;
    content: '';
    height: 401px;
    background: #95adbe;
    opacity: .8;
  }
  .TestDiv{
      position: relative;
  }
.TestCont{
    position: absolute;
    top: 24%;
    width: 100%;
    text-align: center;
}
.TestTxt{
    color: white;
    font-size: 20px;
}
.WordTxt{
    color: white;
    font-size: 63px;
    font-family: 'Cinzel Decorative', cursive;
}
 .Customer_Part{
    position: absolute;
    width: 100%;
    padding: 0% 6% 0% 6%;
    top: 65%;
 }
 .BlockCont{
     background-color: white;
     border-radius: 11px;
     box-shadow: 0px 30px 33px -41px rgba(0, 0, 0, 0.24);
 }
 .item{
    padding-right: 5%;
 }
 .wordCont{
    font-size: 17px;
    padding: 6% 7% 1% 10%;
    color: #6a7695;
 }
 .personImg{
    width: 68% !important;
    border-radius: 50%;
 }
 .PersonCont{
    width: 37%;
    padding-left: 8%;
 }
 .PersonPart{
     display: inline-flex;
 }
 
.custWord{
    font-size: 26px;
}
 .icon {
    position: relative;
    top: 17px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #95adbe;
    
}

@media only screen and (max-width: 1092px) {

  
    .numlabel {
        font-size: 17px;
    }
}