/* You can add global styles to this file, and also import other style files */
.rtl *{
    direction: rtl;
}
.rtl .row {
    margin: 0 !important;
}
.rtl button{
    direction: rtl;
}
.rtl h1 , .rtl h2 , .rtl p{
    text-align: justify;
    padding-right: 0 !important;
}
.rtl ul{
    text-align: justify;
    padding: 0 !important;
}
.rtl .expBtn{
    justify-content: left;
    display: block;
    margin-right: 4%;
}
.rtl .TestTxt ,.rtl  .WordTxt{
    text-align: center !important;
} 
.rtl .phone_Address{
    direction: ltr;
    text-align: end;
}
.rtl .imgabout{
    padding-left: 0 !important;
    padding-right: 9% !important;
}
.rtl .wordCont , .rtl .PersonPart {
    margin-right: 7% !important;
}
.rtl .icon{
    left: 0 !important;
    right: 6% !important;
}
.rtl label{
    display: flex;
}
.rtl .BookName , .rtl .BookAuth , .rtl .BookDes{
    padding-left: 0 !important;
    padding-right: 6% !important;
    display: inline;

}

.rtl .LoginBtn span{
    padding-right: 7px;
}
body{
    font-family: 'Abril Fatface', cursive;
}
html {
    scroll-behavior: smooth;
  }
  
.section {
    margin-top: 15%;
}

.row{
    width: 100%;
}
